.planner {
  background-color: #f2f2f2;
  margin: 5px;
  padding: 20px;

  /* border-radius */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  /* box-shadow */
  -webkit-box-shadow: 10px 10px 10px -10px #017a9b;
  -moz-box-shadow: 10px 10px 10px -10px #017a9b;
  box-shadow: 10px 10px 10px -10px #017a9b;
}

option {
  font-size: 15px;
}

datalist{
  width: inherit;
}

input, select, input[list], input[type='date' i]{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=submit] {
  font-family: 'Pattaya', sans-serif;
  width: 100%;
  background-color: #017a9b;
  font-size: 1.2em;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #01a1cd;
  }
}

.group {
  margin: 5px;
}

.left, .right {
  width: 48%;
}

.left {
  float: left;
}

.right {
  float: right;
}