@import 'style.scss';
@media only screen and (max-width: 568px) {
	body {
		background-image: url('../img/bg-mobile.png') !important;
	}

	header {
		margin: auto;

		p {
			font-size: 1.2em !important;
		}
	}

	.logo {
		width: 3.6em !important;
		height: 3em !important;
	}

	a {
		text-decoration: none;
	}

	.left {
		width: unset;
	}
}