.alert {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.alert-success {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  border: none;
  background: none;
  transition: opacity 0.3s;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}