.myplans {
  background-color: #f2f2f2;
  margin: 5px;
  padding: 10px;
  /* border-radius */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* box-shadow */
  -webkit-box-shadow: 10px 10px 10px -10px #017a9b;
  -moz-box-shadow: 10px 10px 10px -10px #017a9b;
  box-shadow: 10px 10px 10px -10px #017a9b;
}

.planBox {
  background-size: cover;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  border-style: groove;
}

.myplans input[type=submit] {
  &:hover {
    background-color: #f25451;
  }
}

.myplans p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  float: left;
}

.toRight {
  text-align: right;
}