.myplans {
  background-color: #f2f2f2;
  margin: 5px;
  /* border-radius */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* box-shadow */
  -webkit-box-shadow: 10px 10px 10px -10px #017a9b;
  -moz-box-shadow: 10px 10px 10px -10px #017a9b;
  box-shadow: 10px 10px 10px -10px #017a9b;
}

.planBox {
  background: rgb(0,0,0);
  background-size: cover;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  border-style: groove;
}

.myplans .group {
  display: flex;
}

.myplans .left {
  width: 30%;
}

.myplans .right {
  width: 70%;
}

.myplans input[type=submit] {
  &:hover {
    background-color: #f25451;
  }
}