@import 'messages.scss';
@import 'form.scss';
@import 'myplans.scss';
@import 'toastify.scss';
@import 'variables.scss';

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Montserrat&display=swap');

* {
	font-family: 'Pattaya', sans-serif;
	box-sizing: border-box;
	&::before {
		box-sizing: border-box;
	}
	&::after {
		box-sizing: border-box;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-image: url("../img/bg.png");

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	margin: auto;
	max-width: 50em;
	height: 100vh;
	display: grid;
	padding: 5px;
	grid-template-rows: 0fr;
	grid-template-areas: "header" "main" "footer";
}

h1,h2,h3,h4,h5,h6 {
	margin: auto;
}

a {
	color: $blue;
	cursor: pointer;

	&:link {
		color: $blue;
	}
	&:active {
		color: $blue;
	}
	&:visited {
		color: $blue;
	}
	&:hover {
		color: $orange;
		text-decoration: none;
	}
}

p {
	font-size: 15px;
}

header {
	grid-area: header;
	padding: 10px;

	div {
		display: flex;
		float: left;
		margin-right: 50px;
		justify-content: center;
		align-items: center;
	}
	p {
		margin-bottom: 10px;
		margin-left: 5px;
		font-size: 1.5em;
		color: black;
	}
	a {
		text-decoration: none;
	}
}

section {
	a {
		text-decoration: none;
		float: right;

		&:hover {
			text-decoration: underline;
		}
	}
}

.menu {
	height: 1.5em;
}

.logo {
	width: 4.7em;
	height: 4em;
}

main {
	grid-area: main;
	display: grid;
	padding: 5px;
	grid-template-rows: 0fr 0fr 0fr;
	overflow-y: auto;
}

main h3 {
	margin: 5px;
	padding: 10px;
}

.left {
	float: left;
	width: 75%;
}

.right {
	float: right;
}

footer {
	grid-area: footer;
	text-align: center;
}

/* Custom scroll bar */
/* width */
/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $orange;
}

// loader spinner
.loader {
	z-index: 1000;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;

	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;

	/* Safari */
	animation: spin 2s linear infinite;
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// tooltip
.tooltip {
	position: relative;
	display: inline-block;

	.tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}

	&:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

